<ion-header class="ion-no-border" [ngClass]="{'iphone-native': device.isIphone}">
  <ion-toolbar>
    <ion-title size="large">Account</ion-title>
  </ion-toolbar>
  <hgv-feedback-button></hgv-feedback-button>
  <div class="top-curve"></div>
</ion-header>

<ion-content scrollY="false" scrollX="false">
  <h2 class="page-heading">Harry de bouwer</h2>
  <p>Deze pagina is nog niet af, nog even geduld.</p>
  <img src="https://tenor.com/view/build-lego-building-gif-12538237.gif" alt="" />
</ion-content>
