.score-details {
  &__product-name {
    color: var(--hgv-dark-green);
    text-align: center;
  }

  &__summary {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 40px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;

    h5:first-child {
      margin-bottom: 10px;
      color: var(--hgv-orange);
    }
  }

  &__product-image {
    object-fit: cover;
    border-radius: 10px;
  }

  &__score {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      color: #000;
    }

    h2 {
      color: var(--hgv-orange);
      font-size: 32px;
    }
  }

  &__co2eq {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      color: #000;
    }

    h5 {
      color: var(--hgv-orange);
    }
  }

  &__lca {
    padding: 30px;
    margin-top: 30px;
    border-radius: 30px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;

    h5 {
      color: var(--hgv-orange);
    }

    &-item {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h5 {
        color: var(--hgv-dark-green);
        margin: 0;
      }

      &-details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;

        &-button {
          display: none;
          // TODO: implement explanation popup
          // padding: 4px 12px;
          // background-color: var(--hgv-orange);
          // color: #fff;
          // border-radius: 8px;
          // font-weight: bold;
        }
      }
    }
  }

  &__read-more {
    margin-top: 30px;

    p:first-of-type {
      font-weight: bold;
      color: var(--hgv-dark-green);
    }
  }
}
