<ion-header class="ion-no-border" [ngClass]="{'iphone-native': device.isIphone}">
  <ion-toolbar>
    <ion-title size="large">Score details</ion-title>
  </ion-toolbar>
  <hgv-feedback-button></hgv-feedback-button>
  <div class="top-curve"></div>
</ion-header>

<ion-content scrollX="false">
  <div *ngIf="product$ | async as product">
    <h3 class="score-details__product-name">{{product.name}}</h3>
    <p>Op deze pagina kan je meer details over de berekening van de Eco Score van dit product vinden.</p>
    <div class="score-details__summary">
      <h5>Samenvatting</h5>
      <img
        *ngIf="product?.imageUrl"
        [src]="product?.imageUrl"
        class="score-details__product-image"
        alt="product image"
      />
      <div class="score-details__score" *ngIf="product.ecoscoreDto?.score">
        <p>Score</p>
        <h2>{{product.ecoscoreDto?.score}}</h2>
      </div>
      <div class="score-details__co2eq" *ngIf="product.ecoscoreDto?.co2EquivalentPerKg">
        <p>CO2 equivalent / 100g</p>
        <h5>{{product.ecoscoreDto.co2EquivalentPerKg.toFixed(2)}}</h5>
      </div>
    </div>
    <div *ngIf="product.ecoscoreDto?.environmentalFootprintDistribution" class="score-details__lca">
      <h5>Life Cycle Assesment</h5>
      <p>
        De onderstaande cijfers tonen hoeveel elke stap in de levenssyclus van dit product bijdraagt aan de totale
        footprint van dit product.
      </p>
      <div class="score-details__lca-item">
        <p>Landbouw</p>
        <div class="score-details__lca-item-details">
          <h5>{{product.ecoscoreDto?.environmentalFootprintDistribution?.agriculture || "0"}}%</h5>
          <div class="score-details__lca-item-details-button">?</div>
          <!-- TODO: implement explanation popup(click)="onClickExplanation('agriculture')" -->
        </div>
      </div>
      <div class="score-details__lca-item">
        <p>Verwerking</p>
        <div class="score-details__lca-item-details">
          <h5>{{product.ecoscoreDto.environmentalFootprintDistribution.processing || "0"}}%</h5>
          <div class="score-details__lca-item-details-button">?</div>
        </div>
      </div>
      <div class="score-details__lca-item">
        <p>Verpakking</p>
        <div class="score-details__lca-item-details">
          <h5>{{product.ecoscoreDto.environmentalFootprintDistribution.packaging || "0"}}%</h5>
          <div class="score-details__lca-item-details-button">?</div>
        </div>
      </div>
      <div class="score-details__lca-item">
        <p>Transport</p>
        <div class="score-details__lca-item-details">
          <h5>{{product.ecoscoreDto.environmentalFootprintDistribution.transportation || "0"}}%</h5>
          <div class="score-details__lca-item-details-button">?</div>
        </div>
      </div>
      <div class="score-details__lca-item">
        <p>Distributie</p>
        <div class="score-details__lca-item-details">
          <h5>{{product.ecoscoreDto.environmentalFootprintDistribution.distribution || "0"}}%</h5>
          <div class="score-details__lca-item-details-button">?</div>
        </div>
      </div>
      <div class="score-details__lca-item">
        <p>Consumptie</p>
        <div class="score-details__lca-item-details">
          <h5>{{product.ecoscoreDto.environmentalFootprintDistribution.consumption || "0"}}%</h5>
          <div class="score-details__lca-item-details-button">?</div>
        </div>
      </div>
    </div>
    <div class="score-details__read-more">
      <p>Meer weten?</p>
      <p>
        Wij gebruiken data van OpenFoodFacts. Zij geven op
        <a href="https://world.openfoodfacts.org/eco-score-the-environmental-impact-of-food-products">deze pagina</a>
        meer uitleg over de impact van producten op het klimaat. Je kan ook
        <a href="https://harrygovert.com/blog/2022/06/03/welke-producten-zijn-duurzaam">onze blog</a> lezen om een
        simpele uitleg te krijgen.
      </p>
    </div>
  </div>
</ion-content>
