<div class="cart-item">
  <div class="cart-item__product">
    <h5 class="cart-item__product-name">{{ item.product.name }}</h5>
    <h3 class="cart-item__product-score">{{ item.product.ecoscoreDto?.score }}</h3>
  </div>
  <div class="cart-item__quantity">
    <div class="cart-item__quantity-decrease" (click)="remove.emit(item.product.barcode)">
      <ion-icon [name]="item.quantity === 1 ? 'trash-outline' : 'remove-outline'" size="large"></ion-icon>
    </div>
    <div>
      <h3>{{ item.quantity }}</h3>
    </div>
    <div class="cart-item__quantity-decrease" (click)="add.emit(item.product.barcode)">
      <ion-icon name="add-outline" size="large"></ion-icon>
    </div>
  </div>
</div>
