.cart-item {
  display: flex;
  flex-flow: column;
  gap: 15px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  margin-bottom: 15px;

  &__product {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    &-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-score {
      color: var(--hgv-orange);
    }
  }

  &__quantity {
    display: flex;
    align-items: center;
    gap: 10px;

    h3 {
      min-width: 35px;
      text-align: center;
      position: relative;
      top: 4px;
    }

    &-decrease,
    &-increase {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      border-radius: 100%;
      background-color: var(--hgv-green);
      color: #fff;
    }
  }
}
