<div class="saved-cart">
  <h2 class="page-heading">{{ cart.title }}</h2>
  <p>{{ cart.date }}</p>
  <ion-button (click)="remove.emit(cart.id)">
    <ion-icon name="trash-outline"></ion-icon>
  </ion-button>
  <ion-button (click)="edit.emit(cart.id)">
    <ion-icon name="create-outline"></ion-icon>
  </ion-button>
</div>
