.receipt-page {
  &__container {
    &-title {
      color: var(--hgv-dark-green);
    }
    &-disclaimer {
      color: red;
    }
  }

  &__empty {
    &__camera-button {
      margin-bottom: 30px;
    }
  }

  &__image {
    padding: var(--hgv-spacing);

    &-title {
      z-index: 1;
      position: absolute;
      bottom: 100px;
      left: 0;
      right: 0;
      text-align: center;
      color: var(--hgv-white);
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    &__cropper {
      --cropper-overlay-color: rgba(0, 0, 0, 0);
      position: absolute;
      top: calc(50%);
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      padding: 0;
      height: 90%;
    }
    &__controls {
      display: flex;
      margin-bottom: var(--hgv-spacing);
      margin-left: 0;
      left: 50%;
      transform: translate3d(-50%, 0, 0);

      ion-fab-button:first-child {
        margin-right: 20px;
      }
    }
  }

  &__text {
    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 15px;
      &-name {
        font-weight: bold;
      }
    }
    &__controls {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;

      ion-fab-button:first-child {
        margin-right: 20px;
      }
    }
  }

  &__products {
    &__item {
      position: relative;
      margin-bottom: 50px;

      &-container {
        display: flex;
        flex-flow: column nowrap;
        padding-bottom: 40px;
      }

      &-button {
        position: absolute;
        top: calc(100% - 30px);
        left: 50%;
        transform: translate3d(-50%, 0, 0);
      }
      &.empty {
        margin-bottom: 25px;
      }
      &.empty &-container {
        padding-bottom: 20px;
      }
      &.empty &-button {
        display: none;
      }
    }
    &__controls {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;

      ion-fab-button:first-child {
        margin-right: 20px;
      }
    }
  }

  &__completed {
    &__controls {
      text-align: center;
    }
  }
}
