<ion-header class="ion-no-border" [ngClass]="{'iphone-native': device.isIphone}">
  <ion-toolbar>
    <ion-title size="large">Kassabon</ion-title>
  </ion-toolbar>
  <hgv-feedback-button></hgv-feedback-button>
  <div class="top-curve"></div>
</ion-header>

<ion-content class="receipt-page" scrollY="false" scrollX="false">
  <!-- Empty page -->
  <div *ngIf="step === 0 && !receiptImageString" class="page-container receipt-page__empty">
    <h2 class="page-heading">Op de bon.</h2>
    <p>
      Wil jij weten wat de totale impact van je kassabon is? Maak een zo duidelijk mogelijke foto van de producten en
      prijzen op je kassabon en wij zoeken de producten voor je op.
    </p>
    <br />
    <p class="receipt-page__container-disclaimer">
      Momenteel kunnen alleen kassabonnen van de Albert Heijn gescand worden.
    </p>
    <ion-fab class="receipt-page__empty__camera-button" slot="fixed" vertical="bottom" horizontal="center">
      <ion-fab-button (click)="onCaptureImage()">
        <ion-icon name="camera-outline" size="large"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  <!-- Receipt image -->
  <div *ngIf="step === 1 && receiptImageString" class="page-container receipt-page__image">
    <h3 class="receipt-page__image-title">Markeer de producten</h3>
    <image-cropper
      class="receipt-page__image__cropper"
      [imageBase64]="receiptImageString"
      (imageCropped)="onCropImage($event)"
      [maintainAspectRatio]="false"
      [cropperMaxHeight]="700"
      [resizeToWidth]="360"
      format="png"
      outputType="base64"
    ></image-cropper>
    <ion-fab class="receipt-page__image__controls" slot="fixed" vertical="bottom" horizontal="center">
      <ion-fab-button (click)="onDiscardImage()">
        <ion-icon name="close-outline" size="large"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="onConfirmCrop()">
        <ion-icon name="checkmark-outline" size="large"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  <!-- Text results -->
  <div *ngIf="step === 2 && recognizedText?.length" class="page-container receipt-page__text">
    <h2>Ik zie ik zie...</h2>
    <p>
      We hebben de volgende tekst herkend. Verwijder de tekst die niet klopt, zodat wij informatie over de juiste
      producten voor je kunnen opzoeken.
    </p>
    <ion-card *ngFor="let text of recognizedText">
      <ion-card-content class="receipt-page__text-item">
        <span class="receipt-page__text-item-name">{{text.name}}</span>
        <span>{{text.price}}</span>
        <ion-fab-button size="small" (click)="onDiscardRecognizedTextItem(text.name)">
          <ion-icon name="close-outline"></ion-icon>
        </ion-fab-button>
      </ion-card-content>
    </ion-card>
    <div class="receipt-page__text__controls">
      <ion-fab-button (click)="onDiscardRecognizedText()">
        <ion-icon name="close-outline" size="large"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="onConfirmRecognizedText()">
        <ion-icon name="checkmark-outline" size="large"></ion-icon>
      </ion-fab-button>
    </div>
  </div>
  <div *ngIf="step === -1">
    Er kon geen tekst herkend worden.
    <ion-button (click)="init()">Probeer het opnieuw</ion-button>
  </div>
  <div *ngIf="step === -2">
    Het herkennen van de tekst op het bonnetje is mislukt.
    <ion-button (click)="init()">Probeer het opnieuw</ion-button>
  </div>
  <!-- Product results -->
  <div *ngIf="step === 3" class="page-container receipt-page__products">
    <h2>Gottem!</h2>
    <p>We hebben de geselecteerde producten opgezocht, zijn dit de producten in jouw mandje?</p>
    <div
      *ngFor="let product of productSuggestions"
      [ngClass]="{'empty': !product.selectedProduct}"
      class="receipt-page__products__item"
    >
      <ion-card>
        <ion-card-content class="receipt-page__products__item-container">
          <div *ngIf="product.selectedProduct">
            <p>Gevonden voor <b>{{product.receiptText}}</b></p>
            <img [src]="product.selectedProduct.imageUrl" />
            <p>{{product.selectedProduct.name}}</p>
          </div>
          <div *ngIf="!product.selectedProduct">
            <p>Sorry, voor <b>{{product.receiptText}}</b> hebben we geen correct product kunnen vinden.</p>
          </div>
        </ion-card-content>
      </ion-card>
      <ion-fab-button
        (click)="onDiscardProductSuggestion(product.selectedProduct)"
        class="receipt-page__products__item-button"
      >
        <ion-icon name="reload-outline" size="large"></ion-icon>
      </ion-fab-button>
    </div>
    <p>
      Anders nog iets? Nee? Dan kan je alle producten toevoegen aan je mandje door te bevestigen. Of ga terug naar
      start.
    </p>
    <div class="receipt-page__products__controls">
      <ion-fab-button (click)="onDiscardProductSuggestions()">
        <ion-icon name="close-outline" size="large"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="onConfirmProductSuggestions()">
        <ion-icon name="checkmark-outline" size="large"></ion-icon>
      </ion-fab-button>
    </div>
  </div>
  <!-- Completed page -->
  <div *ngIf="step === 4 && !productSuggestions?.length">
    <h2>Klaar is Harry!</h2>
    <p>
      Nice! Alle herkende producten zijn toegevoegd aan je winkelmandje. Ga naar je winkelmandje om de score te zien, of
      scan nog een bonnetje.
    </p>
    <div class="receipt-page__completed__controls">
      <ion-button (click)="onGoToCart()">Winkelmandje</ion-button>
      <ion-button (click)="onGoToReceipt()">Bonnetje</ion-button>
    </div>
  </div>
</ion-content>
