<ion-header class="ion-no-border" [ngClass]="{'iphone-native': device.isIphone}">
  <ion-toolbar>
    <ion-title size="large">Zoeken</ion-title>
  </ion-toolbar>
  <hgv-feedback-button></hgv-feedback-button>
</ion-header>

<ion-content [scrollY]="scannedProduct$ | async" scrollX="false">
  <div *ngIf="!scanning && !productNotFound">
    <h2 class="page-heading">Waar is Harry?</h2>
    <p>Vul de naam van het product in of scan de barcode.</p>
    <br />

    <div class="search-bar-container" *ngIf="!scannedProduct$">
      <ion-searchbar
        [(ngModel)]="searchTerm"
        (ionCancel)="initializeSearch()"
        (ionChange)="changeSearch()"
        (search)="searchProductsByName()"
        debounce="200"
        [disabled]="scanning"
        inputmode="search"
        enterkeyhint="search"
        placeholder="Harry"
      ></ion-searchbar>
      <ion-icon name="barcode-outline" size="large" (click)="startScanning()"></ion-icon>
    </div>
  </div>

  <div *ngIf="searchResults$ | async as results" class="search-results">
    <hgv-search-result
      *ngFor="let result of results"
      [result]="result"
      (addToCart)="addToCart($event)"
      [editable]="false"
    ></hgv-search-result>
  </div>

  <div *ngIf="scannedProduct$ | async as product" class="scanned-product">
    <hgv-search-result [result]="product" (addToCart)="addToCart($event)" [editable]="true"></hgv-search-result>
    <div class="scanned-product__clear" (click)="initializeSearch()">
      <ion-icon name="refresh-outline" size="large"></ion-icon>
    </div>
  </div>

  <div *ngIf="productNotFound === true" class="product-not-found">
    <div class="product-not-found__header">
      <h3>Gotta catch em all!</h3>
      <p>Je hebt een nieuw product gevonden! Wil je hem toevoegen aan je pokédex?</p>
    </div>
    <div class="product-not-found__buttons">
      <ion-button (click)="submitNewProduct()">Product toevoegen</ion-button>
      <ion-button (click)="initializeSearch()">Reset</ion-button>
    </div>
  </div>

  <video #videoObject autoplay></video>

  <ion-button *ngIf="scanning" class="search-result__stop-scan" (click)="stopScanning()"> Stop scanning </ion-button>
</ion-content>
