.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.search-results {
  max-height: 35vh;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.scanned-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  hgv-search-result {
    width: 100%;
  }

  &__stop-scan {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__clear {
    width: 42px;
    height: 42px;
    border-radius: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: var(--hgv-dark-green);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
}

.product-not-found {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  &__header {
    text-align: center;
  }

  &__buttons {
    display: flex;
    gap: 15px;
  }
}
