ion-input {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  --padding-start: 10px;
}

ion-grid {
  padding: 0;
  margin-left: -10px;
  margin-right: -10px;
}

ion-col {
  padding: 10px;
}

.coming-soon {
  position: relative;

  &:after {
    content: 'Coming soon...';
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
