<ion-header class="ion-no-border" [ngClass]="{'iphone-native': device.isIphone}">
  <ion-toolbar>
    <ion-title size="large">Product toevoegen</ion-title>
  </ion-toolbar>
  <hgv-feedback-button></hgv-feedback-button>
</ion-header>

<ion-content *ngIf="product$ | async as product">
  <h1>New product, who dis?</h1>
  <p>
    Op deze pagina kan je ons helpen met het aanvullen van product gegevens. We hebben een product naam en foto's van de
    voorkant en zijkanten van het product nodig om de ingrediënten, voedingswaardes en verpakking te kunnen bepalen
  </p>
  <br />

  <p><strong>Barcode</strong></p>
  <ion-input [(ngModel)]="product.barcode" readonly></ion-input>
  <br />

  <p><strong>Product naam</strong></p>
  <ion-input [(ngModel)]="productName" placeholder="Harry"></ion-input>
  <br />

  <p><strong>Afbeeldingen</strong></p>
  <hgv-image-upload
    uploadLabel="Voorkant"
    [imageUrl]="frontImageUrl"
    (setImage)="frontImage = $event"
  ></hgv-image-upload>
  <br />
  <br />
  <p>Binnenkort kan je hier nog meer afbeeldingen toevoegen. Stay tuned!</p>
  <br />
  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        <hgv-image-upload
          uploadLabel="Voorkant"
          [imageUrl]="frontImageUrl"
          (setImage)="frontImage = $event"
        ></hgv-image-upload>
      </ion-col>
      <ion-col>
        <hgv-image-upload uploadLabel="Ingrediënten" (setImage)="ingredientsImage = $event"></hgv-image-upload>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <hgv-image-upload uploadLabel="Voedingswaarde" (setImage)="nutrientsImage = $event"></hgv-image-upload>
      </ion-col>
      <ion-col>
        <hgv-image-upload uploadLabel="Verpakking" (setImage)="packagingImage = $event"></hgv-image-upload>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-button (click)="submitProduct(product.barcode)" [disabled]="productName?.length < 3">Opslaan</ion-button>
</ion-content>
