.image-upload {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  button {
    border-radius: 100%;
    padding: 1px;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  &__select-button {
    background-color: var(--hgv-dark-green);
    color: #fff;
  }

  &__clear-button {
    position: absolute;
    top: -10px;
    right: -12px;
    background-color: var(--hgv-orange);
    color: #fff;
  }

  &__input {
    display: none;
  }
}
