<div class="image-upload">
  <p *ngIf="selectedInputFile === null">{{ uploadLabel }}</p>
  <input type="file" (change)="selectImage($event)" #inputFile hidden />
  <button *ngIf="selectedInputFile === null" (click)="inputFile.click()" class="image-upload__select-button">
    <ion-icon name="add-outline"></ion-icon>
  </button>
  <img *ngIf="selectedInputFile !== null" class="image-upload__image" #imagePreview />
  <button *ngIf="selectedInputFile !== null" (click)="clearImage()" class="image-upload__clear-button">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>
