<ion-header class="ion-no-border" [ngClass]="{'iphone-native': device.isIphone}">
  <ion-toolbar>
    <ion-title size="large">Winkelmandje</ion-title>
  </ion-toolbar>
  <hgv-feedback-button></hgv-feedback-button>
  <div class="top-curve"></div>
</ion-header>

<ion-content class="shopping-cart-page" scrollX="false">
  <div *ngIf="view === 'cart' && currentCart$ | async as cart">
    <h2 class="page-heading">{{ cart.title }}</h2>
    <p class="shopping-cart-page__cart-date">{{ cart.date }}</p>
    <p>
      Op deze pagina kan je de totale ecologische impact van je winkelmandje zien. Als je meer wilt lezen over de
      betekenis van deze score, check dan
      <a href="https://nl.openfoodfacts.org/eco-score-de-milieu-impact-van-voedingsproducten" target="_blank"
        >deze link!</a
      >
    </p>
    <br />
    <div class="shopping-cart-page__cart-score" *ngIf="cart.items.length > 0">
      <h5>Totale score</h5>
      <h2>{{ totalScore$ | async }}</h2>
    </div>
    <br />
    <div *ngIf="cart.items.length > 0">
      <ion-button *ngIf="cart.items.length > 0" class="shopping-cart-page__cart-save-button" (click)="saveCart(cart)"
        >Opslaan</ion-button
      >
      <hgv-cart-item
        *ngFor="let item of cart.items"
        [item]="item"
        (remove)="removeFromCart(item.product.name)"
        (add)="addToCart(item.product)"
      ></hgv-cart-item>
    </div>
    <div *ngIf="cart.items.length === 0" class="shopping-cart-page__cart-empty">
      <p>Je winkelmandje is nog leeg. Wil je producten toevoegen?</p>
      <ion-button [routerLink]="['/search']">
        <ion-icon name="barcode-outline" slot="start"></ion-icon>
        Barcode
      </ion-button>
      <ion-button [routerLink]="['/receipt']">
        <ion-icon name="receipt-outline" slot="start"></ion-icon>
        Bonnetje
      </ion-button>
      <ion-button [routerLink]="['/search']">
        <ion-icon name="search-outline" slot="start"></ion-icon>
        Zoeken
      </ion-button>
    </div>
  </div>
  <div *ngIf="view === 'carts' && savedCarts$ | async; let carts">
    <hgv-saved-cart
      *ngFor="let cart of carts"
      [cart]="cart"
      (edit)="editCart(cart)"
      (remove)="removeCart()"
    ></hgv-saved-cart>
  </div>
</ion-content>
