.shopping-cart-page {
  display: flex;
  justify-content: space-between;

  &__cart {
    &-date {
      margin-bottom: 30px;
    }

    &-save-button {
      margin-bottom: 30px;
    }

    &-empty {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      gap: 15px;

      p {
        text-align: center;
      }
    }
  }
}
