<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      <div class="icon-background"></div>
    </ion-tab-button>

    <ion-tab-button tab="receipt">
      <ion-icon name="receipt-outline"></ion-icon>
      <div class="icon-background"></div>
    </ion-tab-button>

    <ion-tab-button tab="dashboard" selected-tab>
      <ion-icon name="leaf-outline"></ion-icon>
      <div class="icon-background"></div>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <div class="tabs__cart-count">
        <span>{{ currentCartItemCount }}</span>
      </div>
      <ion-icon name="cart-outline"></ion-icon>
      <div class="icon-background"></div>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
      <div class="icon-background"></div>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
