.tabs {
  &__cart-count {
    z-index: 1;
    position: absolute;
    top: 0px;
    right: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.8);
    height: 25px;
    width: 25px;
    color: var(--hgv-orange);
    background-color: var(--hgv-white);
    border-radius: 100%;
    font-family: var(--hgv-font-stack-body);
    font-size: 16px;
    font-weight: 700;
  }
}

ion-tab-bar {
  padding: 0px 10px 20px 10px;
}

ion-tab-button {
  --background: var(--hgv-dark-green);
  --ripple-color: transparent;
  --color: #d8d8d8;
  --color-selected: var(--hgv-white);
  position: relative;

  &:hover ion-icon {
    --color: var(--hgv-white);
  }

  ion-icon {
    font-size: 25px;
  }

  .icon-background {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background: var(--hgv-green);
    width: 42px;
    height: 42px;
    border-radius: 100%;
  }

  &.tab-selected .icon-background {
    background: var(--hgv-orange);
  }
}
