/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
// @import '~@ionic/angular/css/padding.css';
// @import '~@ionic/angular/css/float-elements.css';
// @import '~@ionic/angular/css/text-alignment.css';
// @import '~@ionic/angular/css/text-transformation.css';
// @import '~@ionic/angular/css/flex-utils.css';

@import url('theme/typography.scss');

.hgv {
  background-color: var(--hgv-creme);
  background-image: url('assets/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.page {
  &-heading {
    color: var(--hgv-dark-green);
  }
}

.scanner-active {
  background: transparent;
}

video {
  width: 100%;
}

// If you are using an Ionic component and want to adjust it's style app wide, do it here.

// Bottom curve
ion-tabs {
  &::before {
    content: '';
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 150%;
    height: 100px;
    border-radius: 100%;
    background-color: var(--hgv-dark-green);
  }
}

// Top curve
ion-header {
  &::before {
    content: '';
    z-index: 1;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 150%;
    height: 100px;
    border-radius: 100%;
    background-color: var(--hgv-orange);
  }
  &.iphone-native::before {
    top: 15px;
  }
}

ion-content {
  --background: none;
  --padding-top: 60px;
  --padding-end: 30px;
  --padding-bottom: 60px;
  --padding-start: 30px;
}

ion-title {
  --color: var(--hgv-white);
  position: relative;
  top: 15px;
  font-family: var(--hgv-font-stack-heading);
  font-size: 32px;
  text-align: center;
  letter-spacing: 1px;
}

ion-searchbar,
ion-searchbar.md,
ion-searchbar.ios {
  --background: var(--hgv-white);
  --cancel-button-color: var(--hgv-black);
  --clear-button-color: var(--hgv-black);
  --color: var(--hgv-black);
  --icon-color: var(--hgv-black);
  --placeholder-color: var(--hgv-black);
  --placeholder-font-style: normal;
  --placeholder-font-weight: 400;
  --placeholder-opacity: 0.2;
  padding: unset;
}

ion-card {
  padding: 0;
  margin: 20px 0;
}

ion-fab-button {
  --background: var(--hgv-orange);
  --background-activated: var(--hgv-orange);
  --background-focused: var(--hgv-orange);
  --background-hover: var(--hgv-orange);
  --ripple-color: transparent;
  --border-width: 0;
  --color: var(--hgv-white);
}

ion-button {
  --background: var(--hgv-dark-green);
  --background-activated: var(--hgv-dark-green);
  --background-focused: var(--hgv-dark-green);
  --background-hover: var(--hgv-dark-green);
  --background-hover-opacity: 0;
  --background-focused-opacity: 0;
  --background-activated-opacity: 0;
  --border-width: 0;
  --border-radius: 0;
  // --border-style
  // --border-color
  --color: var(--hgv-white);
  // --color-activated
  // --color-focused
  // --color-hover
  // --padding-bottom
  // --padding-end
  // --padding-start
  // --padding-top
  --box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  --ripple-color: transparent;
  --opacity: 1;
  // --transition
  font-family: var(--hgv-font-stack-heading);
  letter-spacing: 1px;
}
