<ion-header class="ion-no-border" [ngClass]="{'iphone-native': device.isIphone}">
  <ion-toolbar>
    <ion-title size="large">Home</ion-title>
  </ion-toolbar>
  <hgv-feedback-button></hgv-feedback-button>
  <div class="top-curve"></div>
</ion-header>

<ion-content class="dashboard" scrollY="false" scrollX="false">
  <ion-grid fixed class="dashboard__grid">
    <ion-row>
      <ion-col style="text-align: center">
        <img src="../../../assets/images/logo.png" />
        <br />
        <h3>Welkom Harry!</h3>
        <br />
        <p>
          Hey! Wat fijn dat je er bent! Met de HarryGoVert app kan je meer inzicht krijgen in de ecologische impact van
          producten in de supermarkt. Kijk lekker rond!
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
