:host {
  width: 100%;
  display: flex;
  padding: 15px;
  border-radius: 15px;
  background-color: #fff;

  img {
    height: 150px;
    object-fit: cover;
  }

  p strong {
    word-wrap: break-all;
  }
}

.search-result {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;

  &__add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 42px;
    color: #fff;
    background-color: var(--hgv-orange);
  }
}
