<div class="search-result">
  <img *ngIf="result?.imageUrl" [src]="result.imageUrl" alt="product" />
  <p class="search-result__name" *ngIf="result?.name">
    <strong>{{ result.name }}</strong>
  </p>
  <div class="search-result__add-to-cart" (click)="addToCart.emit(result)">
    <ion-icon name="bag-add-outline" size="large"></ion-icon>
  </div>
  <h3 *ngIf="result?.ecoscoreDto?.score">{{ result.ecoscoreDto.score }}</h3>
  <a *ngIf="result.ecoscoreDto?.score" [routerLink]="['/score-details/' + result?.barcode]">Wat betekent deze score?</a>
  <ion-button [routerLink]="['/submit', result.barcode]" *ngIf="editable === true">
    Aanpassen
    <ion-icon name="pencil"></ion-icon>
  </ion-button>
</div>
